{% extends "layouts/default.html" %}

{% block jumbotron %}
{% endblock %}

{% block bodycontent %}
    <div class="page-header">
        <h3>Next trains departing {{ origin }} for {{ destination }}:</h3>
    </div>
    

    <table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Leaving at</th>
            <th>Line</th>
            <th>Destination</th>
        </tr>
    </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.pretty_departure_time }}</td>
                <!--<td>{{ result.route_name }}</td>-->
                <td>
                    <span class="label label-default" style="background-color: {{result.route_color}}">
                        {{result.route_short_name}}
                    </span>
                </td>
                <td>{{ result.terminus }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block end_of_body_scripts_and_css %}
{% endblock %}