{% extends "layouts/default.html" %}

{% block jumbotron %}
{% endblock %}

{% block bodycontent %}

<div class="page-header">
    <h3>Change password</h3>
</div>

<form name="create_profile_form" action="{{ uri(prefix=False, controller='webapp_users', action='update_password') }}" method="POST" onsubmit="return validateForm()">

	<div class="form-group">
		<label for="password">New password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="New password" required>
	</div>
	<div class="form-group">
		<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm new password" required>
	</div>

	<button type="submit" class="btn btn-primary">Change password</button>
	<a href="{{ uri(prefix=False, controller='webapp_users', action='manage_profile') }}">
        <button type="button" class="btn btn-default">Go back</button>
    </a>
</form>

{% endblock %}

{% block end_of_body_scripts_and_css %}
<script type="text/javascript">
    console.log("In validateForm()");
	function validateForm() {
	var password = document.create_profile_form.password.value;
    var confirm_password = document.create_profile_form.confirm_password.value;
    if (password != confirm_password) {
    	alert("Passwords do not match");
    	return false;
    }
    if (password.length < 6) {
    	alert("Password must be at least six characters");
    	return false;
    }
    return true;
}
</script>
{% endblock %}



