{% extends "layouts/default.html" %}

{% block jumbotron %}
{% endblock %}

{% block bodycontent %}

    <div class="page-header">
        <h3>Change favorite stations</h3>
    </div>

<form name="create_profile_form" action="{{ uri(prefix=False, controller='webapp_users', action='update_favorites') }}" method="POST" onsubmit="return validateForm()">

	<div class="form-group">
		<label for="favorite_station_1">What stations do you travel between most?</label>
		<select class="form-control" id="favorite_station_1" name="favorite_station_1">
			<option value="New York Penn Station">New York Penn Station</option>
			<option value="Newark Penn Station">Newark Penn Station</option>
			<option value="Hoboken">Hoboken</option>
			{% for station in station_list %}
			    <option value="{{ station }}">{{ station }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<select class="form-control" id="favorite_station_2" name="favorite_station_2">
			<option value="New York Penn Station">New York Penn Station</option>
			<option value="Newark Penn Station">Newark Penn Station</option>
			<option value="Hoboken">Hoboken</option>
			{% for station in station_list %}
			    <option value="{{ station }}">{{ station }}</option>
			{% endfor %}
		</select>
		<small id="emailHelp" class="form-text text-muted">Please pick two stations on the same line</small>
	</div>

	<button type="submit" class="btn btn-primary">Update favorites</button>
	<a href="{{ uri(prefix=False, controller='webapp_users', action='manage_profile') }}">
        <button type="button" class="btn btn-default">Go back</button>
    </a>
</form>

{% endblock %}

{% block end_of_body_scripts_and_css %}
<script type="text/javascript">
    console.log("In validateForm()");
	function validateForm() {
    var origin = document.create_profile_form.favorite_station_1.value;
    var destination = document.create_profile_form.favorite_station_2.value;
    if (origin == destination) {
    	origin = document.create_profile_form.favorite_station_1.value;
    	destination = document.create_profile_form.favorite_station_2.value;
        alert("You must pick two different stations");
        return false;
    }
    return true;
}
</script>
{% endblock %}
