{% extends "layouts/default.html" %}

{% block jumbotron %}
{% endblock %}

{% block bodycontent %}

<div class="page-header">
    <h3>Are you sure you want to delete your profile?</h3>
</div>

<div class="span12 text-center">

<a href="{{ uri(prefix=False, controller='webapp_users', action='delete_profile') }}">
    <button type="button" class="btn btn-danger btn-xlarge">Yes, delete</button>
</a>
<a href="{{ uri(prefix=False, controller='webapp_users', action='manage_profile') }}">
    <button type="button" class="btn btn-default btn-xlarge">Cancel</button>
</a>

</div>

{% endblock %}

{% block end_of_body_scripts_and_css %}
{% endblock %}