{% extends "layouts/default.html" %}

{% block jumbotron %}
{% endblock %}

{% block bodycontent %}
    <div class="page-header">
        <h3>Logged in!</h3>
    </div>

    <div class="alert alert-success">
        <strong>Great success!</strong> {{ message }}
    </div>

     <div>
        <h3>Next train from {{ favorite_station_1 }} to {{ favorite_station_2 }}:</h3>
    </div>
    
    {% if results1|length > 0 %}
    <table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Leaving at</th>
            <th>Line</th>
            <th>Destination</th>
        </tr>
    </thead>
        <tbody>
            {% for result in results1 %}
            <tr>
                <td>{{ result.pretty_departure_time }}</td>
                <!--<td>{{ result.route_name }}</td>-->
                <td>
                    <span class="label label-default" style="background-color: {{result.route_color}}">
                        {{result.route_short_name}}
                    </span>
                </td>
                <td>{{ result.terminus }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger">
        <strong>Uh oh!</strong> 😳 I can't seem to find any direct trains between {{ favorite_station_1 }} and {{ favorite_station_2 }} departing in the next few hours.
    </div>
    {% endif %}

    <div>
        <h3>Next train from {{ favorite_station_2 }} to {{ favorite_station_1 }}:</h3>
    </div>

    {% if results2|length > 0 %}
    <table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Leaving at</th>
            <th>Line</th>
            <th>Destination</th>
        </tr>
    </thead>
        <tbody>
            {% for result in results2 %}
            <tr>
                <td>{{ result.pretty_departure_time }}</td>
                <!--<td>{{ result.route_name }}</td>-->
                <td>
                    <span class="label label-default" style="background-color: {{result.route_color}}">
                        {{result.route_short_name}}
                    </span>
                </td>
                <td>{{ result.terminus }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger">
        <strong>Oh no!</strong> 😵 I can't seem to find direct trains between {{ favorite_station_1 }} and {{ favorite_station_2 }} departing in the next few hours.
    </div>
    {% endif %}

    <a href="{{ uri(prefix=False, controller='home', action='list') }}">
        <button type="button" class="btn btn-default">Go back</button>
    </a>

{% endblock %}

{% block end_of_body_scripts_and_css %}

{% endblock %}